.table {
  position: relative;
  width: 100%;
  border-width: 0;
  border-style: solid;
  border-color: var(--grey200);
  border-radius: var(--fieldBorderRadius);
  border-spacing: 0;
  white-space: nowrap;
  table-layout: var(--tableLayout, auto);
}

.hasBorder {
  border-width: var(--fieldBorderWidth);
}

.table th,
.table td {
  height: 3.125rem; /* 50px */
  padding: 0 0.9375rem; /* 15px */
}

.table th:global(.center),
.table td:global(.center) {
  text-align: center;
}

.table th:global(.center) > div,
.table td:global(.center) > div {
  justify-content: center;
}

.table th:global(.right),
.table td:global(.right) {
  text-align: right;
}

.table th:global(.right) > div,
.table td:global(.right) > div {
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .table th:global(.thin),
  .table td:global(.thin) {
    max-width: min-content;
  }
}

.table th:global(.kai),
.table td:global(.kai) {
  text-align: right;
}

.table th:global(.kai) > div,
.table td:global(.kai) > div {
  justify-content: flex-end;
}

.table th:global(.avatar) > div,
.table td:global(.avatar) > div {
  display: flex;
  align-items: center;
}

.table th:global(.avatar) :global(.avatar-img),
.table td:global(.avatar) :global(.avatar-img) {
  margin-right: 0.9375rem; /* 15px */
}

.table th {
  font-size: 0.85rem;
}

.table th:first-child {
  border-top-left-radius: var(--fieldBorderRadius);
}

.table th:last-child {
  border-top-right-radius: var(--fieldBorderRadius);
}

.table tr {
  border: var(--fieldBorderWidth) solid var(--grey200);
  border-radius: var(--fieldBorderRadius);
  position: relative;
}

.table tr:not(:last-child) {
  margin-bottom: 0.9375rem; /* 15px */
}

@media (min-width: 576px) {
  .table tr {
    border: 0;
  }
}

.table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 0.0625rem; /* 1px */
  margin: -0.0625rem; /* -1px */
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem; /* 1px */
}

@media (min-width: 576px) {
  .table thead {
    display: contents;
    font-weight: var(--fontWeightSemiBold);
    color: var(--grey400);
    text-align: left;
  }
}

.table tbody tr {
  display: block;
  transition-duration: var(--transitionDurationDefault);
}

.table tbody tr:hover {
  background-color: var(--grey50);
}

.table tbody tr:hover td:global(.drag-handle) svg {
  fill: var(--grey200);
}

.table tbody tr:hover td:global(.menu) button {
  opacity: 1;
}

@media (min-width: 576px) {
  .table tbody tr {
    display: table-row;
  }
}

.table tbody td {
  border-top: var(--fieldBorderWidth) solid var(--grey200);
  height: inherit;
  min-height: 3.125rem; /* 50px */
  padding: 0.9375rem; /* 15px */
  display: flex;
  justify-content: flex-end;
}

.table tbody td:global(.drag-handle) > div {
  width: min-content;
}

.table tbody td:global(.drag-handle) svg {
  width: 1.875rem; /* 30px */
  height: 1.875rem; /* 30px */
  fill: var(--grey200);
  transition-duration: var(--transitionDurationDefault);
}

.table tbody td > div {
  margin-left: 6.25rem; /* 100px */
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  text-align: right;
}

.table tbody td > div > span {
  display: none;
}

.table tbody td > div > span:first-child,
.table tbody td > div > span:last-child {
  display: inherit;
}

.table tbody td img {
  min-width: 1.875rem; /* 30px */
  min-height: 1.875rem; /* 30px */
}

.table tbody td a {
  display: flex;
  align-items: center;
  color: var(--black);
  text-decoration-color: var(--grey400);
}

.table tbody td:first-child {
  border: 0;
}

.table tbody td::before {
  position: absolute;
  left: 0.9375rem; /* 15px */
  content: attr(data-label);
  font-weight: var(--fontWeightSemiBold);
  text-transform: capitalize;
}

.table tbody td:global(.kai) svg {
  float: right;
  width: auto;
  min-width: 1.25rem; /* 20px */
  max-height: 1.25rem; /* 20px */
}

.table tbody td :global(.avatar-img) {
  display: none;
}

.table tbody td :global(.tag) {
  margin: 0;
}

.table tbody td :global(.tag):not(:first-child) {
  display: none;
}

.table tbody td:global(.menu) {
  padding: 0 0.625rem 0 0; /* 10px */
}

.table tbody td:global(.menu) button {
  margin-top: 0.3125rem; /* 5px */
  transition: var(--transitionDurationDefault);
}

.table tbody td:global(.menu) ul {
  top: 2.25rem; /* 36px */
  margin-left: -10.625rem; /* -170px */
}

@media (min-width: 576px) {
  .table tbody td {
    display: table-cell;
    height: 3.125rem; /* 50px */
    padding: 0 0.9375rem; /* 15px */
    align-items: center;
  }

  .table tbody td > div {
    position: relative;
    margin-left: 0;
    display: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .table tbody td > div > span {
    display: inherit;
  }

  .table tbody td:first-child {
    border-top: var(--fieldBorderWidth) solid var(--grey200);
  }

  .table tbody td::before {
    content: '';
  }

  .table tbody td:global(.kai) {
    max-width: 6.25rem; /* 100px */
  }

  .table tbody td :global(.avatar-img) {
    display: inherit;
  }

  .table tbody td :global(.tag):not(:first-child) {
    display: inherit;
  }

  .table tbody td :global(.tag):not(:last-child) {
    margin-right: 0.3125rem; /* 5px */
  }

  .table tbody td:global(.menu) {
    width: 2.5rem; /* 40px */
  }

  .table tbody td:global(.menu) button {
    opacity: 0;
  }
}

/* TableRow - draggable state handled via data attribute in component */
.tableRow {
  /* Base row styles */
}

.isDragging {
  position: absolute;
  display: table;
  width: 100%;
}
