.wrapper {
  position: relative;
  border: 0.125rem solid var(--grey200); /* 2px */
  border-radius: 999px;
  width: var(--avatarSize, 30px);
  height: var(--avatarSize, 30px);
  overflow: hidden;
  z-index: 0;
}

.wrapper > * {
  width: 100%;
  height: 100%;
}

.wrapper img {
  object-fit: cover;
}

.square {
  border-radius: 0;
}
