@keyframes slideInLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: var(--modalZIndex, 10);
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: calc(var(--modalZIndex, 10) + 1);
}

.modalContainer {
  margin-left: auto;
  background: var(--white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.9375rem; /* 15px */
  word-wrap: break-word;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1); /* easeOutQuint approximation */
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: translateX(100%);
  animation-name: slideInLeft;
}

@media (min-width: 576px) {
  .modalContainer {
    max-width: 25rem; /* 400px */
    padding: 1.875rem; /* 30px */
  }
}

.modalHeader {
  top: 0;
}

.modalHeader h2 {
  margin: 0 0 1.875rem 0; /* 30px */
  font-size: 2rem; /* 32px */
  font-weight: var(--fontWeightSemiBold);
}

.modalContent {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .modalContent {
    flex: 1;
  }
}
