.wrapper {
  display: flex;
  position: relative;
  padding-left: 0;
  cursor: pointer;
  user-select: none;
}

.wrapper.isDisabled {
  cursor: auto;
}

.wrapper:hover input:not(:disabled) ~ span {
  border-color: var(--fieldHoverBorderColor);
}

.wrapper.hasError:hover input:not(:disabled) ~ span {
  border-color: var(--fieldErrorBorderColor);
}

.wrapper.hasError span {
  color: var(--fieldErrorBorderColor);
  border-color: var(--fieldErrorBorderColor);
}

.wrapper.isDisabled span {
  color: var(--fieldDisabledColor);
}

.label {
  margin-left: calc(1.5rem + 0.3125rem); /* 24px + 5px */
  line-height: 1.5rem; /* 24px */
}

.input {
  position: absolute;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 0.125rem solid var(--fieldBorderColor); /* 2px */
  border-radius: 100%;
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  transition-duration: var(--transitionDurationDefault);
}

.wrapper.hasError .checkmark {
  border-color: var(--fieldErrorBorderColor);
}

.checkmark::after {
  display: block;
  content: '';
  position: absolute;
  display: none;
  top: 0.1875rem; /* 3px */
  left: 0.375rem; /* 6px */
  width: 0.3125rem; /* 5px */
  height: 0.5625rem; /* 9px */
  border: solid var(--white);
  border-width: 0 0.1875rem 0.1875rem 0; /* 3px */
  transform: rotate(45deg);
}

.checkmark:global(.checked.not-disabled) {
  background-color: var(--fieldSuccessBackgroundColor);
  border-color: var(--fieldSuccessBorderColor);
}

.wrapper.hasError .checkmark:global(.checked.not-disabled) {
  background-color: var(--fieldErrorBackgroundColor);
  border-color: var(--fieldErrorBorderColor);
}

.checkmark:global(.checked.not-disabled)::after {
  display: block;
}

.checkmark:global(.checked.disabled) {
  color: var(--fieldDisabledColor);
  border-color: transparent;
  background-color: var(--fieldDisabledBackgroundColor);
}

.checkmark:global(.checked.disabled)::after {
  display: block;
}

.checkmark:global(.not-checked.disabled) {
  border-color: var(--fieldDisabledBackgroundColor);
  background-color: var(--white);
}

.checkmark:global(.not-disabled):hover {
  border-color: var(--fieldSuccessBorderColor);
}

.wrapper.hasError .checkmark:global(.not-disabled):hover {
  border-color: var(--fieldErrorBorderColor);
}

.checkmark:global(.not-disabled):hover:checked ~ span {
  border-color: var(--fieldSuccessBorderColor);
}

.wrapper.hasError .checkmark:global(.not-disabled):hover:checked ~ span {
  border-color: var(--fieldErrorBorderColor);
}
