.wrapper {
  position: relative;
}

.wrapper ul {
  position: absolute;
  opacity: 0;
  top: 0;
  margin: 0;
  border: 0.0625rem solid var(--fieldBorderColor); /* 1px */
  border-radius: var(--fieldBorderRadius);
  background-color: var(--fieldBackgroundColor);
  min-width: 12.5rem; /* 200px */
  max-width: 15.625rem; /* 250px */
  height: 0;
  max-height: none;
  padding: 0;
  -moz-box-shadow: 0 0 0.9375rem 0 var(--fieldBoxShadow); /* 15px */
  -webkit-box-shadow: 0 0 0.9375rem 0 var(--fieldBoxShadow);
  box-shadow: 0 0 0.9375rem 0 var(--fieldBoxShadow);
  overflow-y: hidden;
  z-index: 1;
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  transition-duration: var(--transitionDurationDefault);
  list-style: none;
}

.wrapper ul.isOpen {
  opacity: 1;
  height: var(--menuHeight);
  max-height: 80rem; /* 1280px */
}

.wrapper ul li {
  list-style: none;
  min-height: 2.8125rem; /* 45px */
  display: flex;
  transition-duration: 0.3s;
}

.wrapper ul li:hover {
  background-color: var(--fieldBorderColor);
  cursor: pointer;
}

.wrapper ul li:first-child {
  border-radius: 0.25rem 0.25rem 0 0; /* 4px */
}

.wrapper ul li:last-child {
  border-radius: 0 0 0.25rem 0.25rem; /* 4px */
}

.wrapper ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.25rem; /* 20px */
  color: var(--fieldColor);
  text-decoration: none;
  white-space: nowrap;
}

.wrapper ul li a span {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}
