@keyframes placeholderSkeleton {
  0% {
    background-position: -50rem 0; /* -800px */
  }
  100% {
    background-position: 50rem 0; /* 800px */
  }
}

.wrapper div {
  width: 100%;
  height: 100%;
}

.wrapper > div > div > div {
  background: #f6f7f8;
  background-image: -webkit-linear-gradient(
    left,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 50rem 100%; /* 800px */
  animation-fill-mode: forwards;
  animation-name: placeholderSkeleton;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

.wrapper > div > div > div:global(.title) {
  margin-bottom: 0.625rem; /* 10px */
  width: 50%;
  height: 1.875rem; /* 30px */
}

.wrapper > div > div > div:global(.subtitle) {
  margin-bottom: 1.875rem; /* 30px */
  width: 25%;
  height: 0.9375rem; /* 15px */
}

.wrapper > div > div > div:global(.paragraph) {
  width: 100%;
  height: 0.9375rem; /* 15px */
}

.wrapper > div > div > div:global(.paragraph):not(:last-child) {
  margin-bottom: 0.625rem; /* 10px */
}

.wrapper > div > div > div:global(.value) {
  width: 50%;
  height: 1.875rem; /* 30px */
}

/* Card type skeleton */
.wrapper :global(.card) {
  position: relative;
  border: 0.125rem solid var(--grey50); /* 2px */
  border-radius: 0.375rem; /* 6px */
  width: 18.75rem; /* 300px */
  overflow: hidden;
}

.wrapper :global(.card) :global(.cover) {
  width: 100%;
  height: 10.3125rem; /* 165px */
}

.wrapper :global(.card) :global(.avatar) {
  position: absolute;
  margin: -2.8125rem 0 0 1.25rem; /* -45px 0 0 20px */
  width: 5.625rem; /* 90px */
  height: 5.625rem; /* 90px */
  border: 0.0625rem solid var(--grey50); /* 1px */
  border-radius: 999px;
}

.wrapper :global(.card) :global(.title) {
  margin: 4.6875rem 0 1.875rem 1.5625rem; /* 75px 0 30px 25px */
}

.wrapper :global(.card) :global(.paragraph) {
  margin: 0 auto 1.25rem auto; /* 0 auto 20px auto */
  width: calc(100% - 2.5rem); /* 40px */
}

.wrapper :global(.card) :global(.paragraph):last-child {
  width: 40%;
  margin-left: 1.25rem; /* 20px */
}

/* Grid layout for cards */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18.75rem); /* 300px */
  grid-gap: 0.9375rem; /* 15px */
  justify-content: flex-start;
}

.gridCenter {
  justify-content: center;
}
