.actionsMenu {
  height: 3.125rem; /* 50px */
}

.actionsMenu button {
  margin-top: 0.4375rem; /* 7px */
}

.list {
  position: absolute;
  border: var(--fieldBorderWidth) solid var(--fieldBorderColor);
  border-radius: var(--fieldBorderRadius);
  background-color: var(--fieldBackgroundColor);
  margin-top: 0.3125rem; /* 5px */
  min-width: 12.5rem; /* 200px */
  max-width: 15.625rem; /* 250px */
  padding: 0;
  -moz-box-shadow: var(--fieldBoxShadow);
  -webkit-box-shadow: var(--fieldBoxShadow);
  box-shadow: var(--fieldBoxShadow);
  overflow: hidden;
  z-index: 1;
}

.hasRowIndex {
  top: var(--rowIndexMargin);
  right: 0.3125rem; /* 5px */
}

.list li {
  list-style: none;
  min-height: 2.8125rem; /* 45px */
  display: flex;
  transition-duration: 0.3s;
}

.list li:hover {
  background-color: var(--fieldHoverBorderColor);
  cursor: pointer;
}

.list li:global(.danger) {
  border-top: var(--fieldBorderWidth) solid var(--fieldBorderColor);
}

.list li:global(.danger) a {
  color: var(--fieldErrorBorderColor);
}

.list li:global(.disabled) a {
  color: var(--fieldDisabledColor);
  pointer-events: none;
}

.list li:global(.disabled):hover {
  background-color: transparent;
}

.list li a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.25rem; /* 20px */
  color: var(--fieldColor);
  text-decoration: none;
  white-space: nowrap;
}

.list li a span {
  display: table-cell;
  overflow: hidden;
  text-overflow: ellipsis;
}
