.wrapper {
  display: flex;
  flex-direction: column;
}

.gridRow {
  display: block;
}

@media (min-width: 900px) {
  .gridRow {
    display: flex;
  }
}

.gridCol {
  flex: var(--gridColSize, 1);
}
