.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: var(--modalZIndex, 10);
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: calc(var(--modalZIndex, 10) + 1);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media (min-width: 576px) {
  .modalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hasOverflow {
    align-items: flex-start;
  }
}

.modalContainer {
  position: relative;
  background: var(--white);
  width: 100%;
  min-height: 0;
  padding: 0.9375rem; /* 15px */
  word-wrap: break-word;
  transition-duration: var(--transitionDurationDefault);
}

@media (min-width: 576px) {
  .modalContainer {
    --spacing: 1.875rem; /* 30px */
    margin: var(--spacing);
    border-radius: var(--fieldBorderRadius);
    max-width: 53.75rem; /* 860px */
    padding: var(--spacing);
  }

  .modalContainer::after {
    content: '';
    position: absolute;
    bottom: calc(var(--spacing) * -1);
    width: 0.0625rem; /* 1px */
    height: var(--spacing);
  }
}

.modalHeader {
  display: flex;
}

.modalHeader h2 {
  margin: 0 0 1.875rem 0; /* 30px */
  font-size: 2rem; /* 32px */
  font-weight: var(--fontWeightSemiBold);
}

.modalHeader button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: -0.875rem -0.875rem 0 0; /* -14px */
  border: 0.125rem solid var(--colorGrey200); /* 2px */
  min-width: 1.75rem; /* 28px */
  height: 1.75rem; /* 28px */
  z-index: 1;
  outline: none;
}

@media (min-width: 576px) {
  .modalHeader button {
    display: inherit;
  }
}
