.switcher {
  margin: 0;
  border: none;
  padding: 0;
}

.switcher > div > label {
  cursor: pointer;
}

.switcher.isDisabled > div > label {
  cursor: not-allowed;
}

.switcher > div > label:first-child {
  margin-right: 0.625rem; /* 10px */
}

.switcher > div > label:last-child {
  margin-left: 0.625rem; /* 10px */
}

.switcher :global(.wrapper) {
  display: inline-block;
  vertical-align: middle;
  width: 2.5rem; /* 40px */
  height: 1.5625rem; /* 25px */
  border-radius: 999px;
  border: var(--fieldBorderWidth) solid var(--fieldBorderColor);
  position: relative;
  opacity: 1;
}

.switcher.isDisabled :global(.wrapper) {
  opacity: 0.5;
}

.switcher :global(.wrapper) input,
.switcher :global(.wrapper) span,
.switcher :global(.wrapper) label {
  cursor: pointer;
}

.switcher.isDisabled :global(.wrapper) input,
.switcher.isDisabled :global(.wrapper) span,
.switcher.isDisabled :global(.wrapper) label {
  cursor: not-allowed;
}

.switcher :global(.wrapper) input[type='radio'] {
  display: inline-block;
  margin: 0 -0.1875rem 0 0; /* -3px */
  width: 50%;
  height: 100%;
  opacity: 0;
  position: relative;
  z-index: 1;
}

.switcher :global(.wrapper) input[type='radio']:global(.switch-on):checked ~ :global(.switcher) {
  right: 0;
  left: 50%;
}

.switcher :global(.wrapper) input[type='radio']:global(.switch-on):checked ~ :global(.bg) {
  background-color: var(--green500);
}

.switcher :global(.wrapper) input[type='radio']:global(.switch-off):checked ~ :global(.switcher) {
  right: 0;
}

.switcher :global(.wrapper) input[type='radio']:global(.switch-off):checked ~ :global(.bg) {
  background-color: var(--grey100);
}

.switcher :global(.wrapper) :global(.switcher) {
  display: block;
  position: absolute;
  top: 0.1875rem; /* 3px */
  left: 0.1875rem; /* 3px */
  right: 100%;
  width: 1rem; /* 16px */
  height: 1rem; /* 16px */
  border-radius: 50%;
  background-color: var(--white);
  transition: all var(--transitionDurationDefault) ease-out;
  z-index: 2;
}

.switcher :global(.wrapper) :global(.bg) {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 999px;
  background-color: var(--grey200);
  transition: all var(--transitionDurationDefault) ease-out;
}

@media screen and (-ms-high-contrast: active) {
  .switcher :global(.wrapper) :global(.switcher) {
    background-color: windowText;
  }
}
