.wrapper {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.875rem; /* 30px */
  text-align: center;
}

.wrapper svg {
  width: auto;
  height: 6.25rem; /* 100px */
}

.wrapper > div {
  margin-top: 0.9375rem; /* 15px */
  font-weight: 600;
  color: var(--black);
}

.wrapper > div a {
  color: var(--black);
  transition-duration: var(--transitionDurationDefault);
}

.wrapper > div a:hover {
  color: var(--purple500);
}
